@model WebUI.Models.ChangePassword

@{
    ViewBag.Title = "Zmiana hasła";
}

<h2>Zmiana hasła</h2>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        <div class="form-group">
            @Html.Label(property.DisplayName ?? property.PropertyName)
            @Html.Password(property.PropertyName, null, new { @class = "form-control" })
        </div>
    }
    <input type="submit" value="Zmień" class="btn btn-default"/>
}

