@model WebUI.Models.EmailAddressViewModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Zresetuj hasło</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Adres e-mail</label>
        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
    </div>
    <input type="submit" value="Zresetuj" class="btn btn-danger"/>
}

